.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width :600px;
  width:100%;

}

.formGroup {
  display: flex;
  ;
  flex-direction: column;
}

.label {
  color: #FFF;
font-family: "Nunito Sans";
font-size: 16px;
font-weight: 500;
line-height: 26px; /* 162.5% */
  margin-bottom: 16px;
}

.input {
  max-width:600px;
  width: 100%;
 display: flex;
height: 60px;
padding: 15px 20px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
border: 1px solid rgba(1, 188, 228, 0.53);
background: linear-gradient(180deg, rgba(0, 212, 254, 0.02) 0%, rgba(64, 221, 218, 0.02) 100%);
}

.input:focus {
  border: 1.5px solid #00D4FE;
}

.buttonWrapper {
    display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0px;
 
;
}

.resetbtn {
   max-width: 200px;
  width: 100%;

} 

@media(max-width:600px){

.resetbtn {
   max-width: 100%;
  width: 100%;
} 
.form {
  gap: 24px;

}

}