.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 120px;
}

.imageContainer {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.content {
  max-width: 55%;
  padding-left: 2rem;
}

.tag {
  color: var(--primary);
  font-weight: 600;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 1rem;
}

.academyTag {
  width: fit-content;
  margin-bottom: 16px;
}

.heading {
  color: #FFF;
  font-family: Sansation !important;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.text {
  color: rgba(255, 255, 255, 0.60);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  align-self: stretch;
  margin-bottom: 48px;
}

.button:hover {
  background-color: var(--primary);
  color: #fff;
}
@media (max-width: 1200px) and (min-width: 901px) {
  .container {
    padding: 48px 40px;
    gap: 40px;
  }

  .imageContainer {
    width: 50%;
  }

  .content {
    width: 50%;
    padding-left: 1rem;
  }

  .heading {
    font-size: 32px;
    line-height: 40px;
  }

  .text {
    font-size: 16px;
    line-height: 26px;
  }
}

/* ========== Mobile & Tablet (<=900px) ========== */
@media (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  50px 18px;
  }

  .mobileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

  .imageContainer {
    width: 100%;
    max-width: 100%;
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
color: rgba(255, 255, 255, 0.60);
font-family: "Nunito Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-align: left;/* 171.429% */
  margin-bottom: 0px;
  }

  .buttonWrapper {
    width: 100%;
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
  
  }

  .heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}
