.container {
display:flex;
align-items: center;
padding: 100px 120px;
width: 100%;
gap: 40px;;
width:100%;
}
.imageContainer {

width:100%;
    height: 514px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 514px;
max-width:750px;
width:100%;
}

.content {
max-width: 618px;
width:100%;
}


.academyTag {
width: 267px;
  margin-bottom: 16px;
  text-wrap: nowrap;
}

.heading {
  color: #FFF;
  font-family: Sansation !important;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.text {
  color: rgba(255, 255, 255, 0.60);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  align-self: stretch;
  margin-bottom: 48px;
}


@media (min-width: 851px) and (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 24px;
    gap: 32px;
  }

  .imageContainer {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .image {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
  }

  .content {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 0;
  }

  .heading {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 32px;
  }

  .buttonWrapper {
    justify-content: center;
  }

}

/* ========== Mobile & Tablet========== */
@media (max-width: 850px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  45px 18px 16px 18px;
    gap: 0px;
  }

  .mobileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

  .imageContainer {
  width: 100%;

height: 318.68px;
flex-shrink: 0;
    
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
  width: 100%;
     max-width: 332.829px;
height: 318.68px;
    
    object-fit: cover;
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
color: rgba(255, 255, 255, 0.60);
font-family: "Nunito Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-align: left;/* 171.429% */
  margin-bottom: 0px;
  }

  .buttonWrapper {
    width: 100%;
  
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
  margin-bottom: 0px;
  }

  .heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0px;
  }
}
