.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
  width: 600px;
  box-sizing: border-box;
}

.forgetPasswordWrapper {
  display: flex;
  justify-content: start;
}

.forgetPasswordLink {
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.forgetPasswordLink:hover {
  color: white;
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupButton {
  max-width: 200px;
  width: 100%;
}

.forgetPasswordWrapper {
  display: flex;
  justify-content: start;
}

@media (max-width: 600px) {
  .signupButton {
    max-width: 100%;
  }
  .form {
    gap: 16px;
    width: 100%;
    max-width: 100% !important;
  }
  .buttonWrapper {
    margin-top: 8px;
  }
}
