.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  width: 100%;
}

/* Special styling for the forgot password form label */
.forgotPasswordLabel {
  color: #fff !important;
  font-family: "Nunito Sans" !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 26px !important;
  margin-bottom: 16px !important;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.resetbtn {
  max-width: 200px;
  width: 100%;
}

@media (max-width: 600px) {
  .resetbtn {
    max-width: 100%;
    width: 100%;
  }
  .form {
    gap: 24px;
  }
}
