.effectWrapper {
  position: absolute;
  width: 322px;
  height: 322px;
  pointer-events: none;
  z-index: 1;
}

.blueEllipseEffect {
    border-radius: 274.344px;
width: 250.344px;
height: 250.344px;
  background: linear-gradient(
    90deg,
    #00D4FE 0%, #01D1FD 26%, #07C8FB 43%, #10B9F8 57%,
    #1DA5F4 70%, #2F8AEF 81%, #4469E8 92%, #574CE3 100%
  );
  flex-shrink: 0;
filter: blur(201.9239959716797px);

  position: absolute;
  inset: 0;
  z-index: 0;
}


.saltEffectRight {
  position: absolute;
  inset: 0;
  width: 100px;
  height: 220px;
  transform: scale(3.2);
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
  object-fit: cover;
}



.topRight {
  top: 1400px;
  right: -370px;
}

.topLeft {
  top: 460px;
  left: -270px;
}

.bottomLeft {
  top: 1550px;
  left: -250px;
}
