.contactUsPage {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1113;
  padding: 138px 7.8vw 98px;
  isolation: isolate;
}
.bgImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url("/contbg.png") center / cover no-repeat;
}

.contactCard {
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 25px;
  border: 1px solid rgba(133, 191, 249, 0.3);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 254, 0.05) 10.61%,
    rgba(68, 105, 232, 0.02) 100%
  );
  backdrop-filter: blur(32px);
  height: 746px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #fff;
  font-family: Sansation;
  font-size: 44px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 71px;
}
.columnsWrapper {
  display: flex;
  flex-direction: row;
  gap: 27px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  height: 506px;
}
.leftCol {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rightCol {
  flex: 0 0 436px;
  max-width: 436px;
  width: 436px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contactImage {
  width: 436px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 29px;

  display: block;
}

@media (max-width: 1200px) and (min-width: 750px) {
  .contactUsPage {
    padding: 90px 20px;
  }

  .contactCard {
    height: auto;
    padding: 40px 24px;
  }
  .heading {
    font-size: 36px;
    margin-bottom: 48px;
  }

  .rightCol {
    flex: 0 0 300px;
    max-width: 300px;
    width: 300px;
  }

  .contactImage {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 750px) {
  .contactUsPage {
    padding: 64px 0px;
  }
  .contactCard {
    padding: 40px 16px;
    width: 100%;
    border-radius: 0px;
  }
  .heading {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    margin-bottom: 24px;
  }

  .columnsWrapper {
    flex-direction: column;
    gap: 18px;
    align-items: stretch;
  }
  .rightCol {
    display: none;
  }
  .blueEllipseLeft {
    display: none;
  }
}

.blueEllipseLeft {
  position: absolute;
  left: -420px;
  top: 380px;
  width: 322px;
  height: 322px;
  flex-shrink: 0;
  border-radius: 322px;
  background: linear-gradient(
    90deg,
    #00d4fe 0%,
    #01d1fd 26%,
    #07c8fb 43%,
    #10b9f8 57%,
    #1da5f4 70%,
    #2f8aef 81%,
    #4469e8 92%,
    #574ce3 100%
  );
  filter: blur(237px);
  z-index: 0;
}
