.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: linear-gradient(180deg, rgba(0, 212, 254, 0.05) 10.61%, rgba(68, 105, 232, 0.02) 100%);
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(133, 191, 249, 0.30);
  backdrop-filter: blur(8px);
  margin-top: 10px;
}

.stat {
  flex: 1 1 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  border-right: 1px solid rgba(1, 209, 253, 0.32);
}

.stat:last-child {
  border-right: none;
}

.value {
  color: #01BCE4;
  font-family: "Nunito Sans"!important;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  text-transform: capitalize;
  text-align: center;
  
}

.label {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
}


@media (max-width: 950px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    background: none;
    backdrop-filter: none;
  }



  .stat {
  position: relative;
}

.stat.right-line::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 0;
  width: 1px;
  background-color: rgba(1, 209, 253, 0.32);
}

.stat.bottom-line::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px;
  background-color: rgba(1, 209, 253, 0.32);
}


  .stat:nth-child(1),
  .stat:nth-child(3) {
    border-right: 1px solid rgba(1, 209, 253, 0.32);
  }

  .stat:nth-child(1),
  .stat:nth-child(2) {
    border-bottom: 1px solid rgba(1, 209, 253, 0.32);
  }

  .stat:nth-child(2),
  .stat:nth-child(4) {
    border-right: none;
  }

  .value,
  .label {
    padding: 12px 0;
  }

  .value {
 font-size: 32px;
font-weight: 700;
line-height: 42px
  }

  .label {
font-family: Lato;
font-size: 14px;
line-height: 24px; /* 171.429% */
  }
}
