.container {
  display: flex;
  background: linear-gradient(180deg, rgba(0, 212, 254, 0.05) 10.61%, rgba(68, 105, 232, 0.02) 100%);
  padding: 40px 0;
width: calc(100% - 240px); 
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid rgba(133, 191, 249, 0.30);
  backdrop-filter: blur(8px);
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.stat {
  flex: 1 1 ;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  border-right: 1px solid rgba(1, 209, 253, 0.32);
}

.stat:last-child {
  border-right: none;
}

.value {
  color: #01BCE4;
  font-family: "Nunito Sans"!important;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  text-transform: capitalize;
  text-align: center;
}

.label {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 1150px) {
  .stat {
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.value {
  color: #01BCE4;
  font-family: "Nunito Sans"!important;
  font-size: 50px;
  font-weight: 700;
  line-height: 82px;
  text-transform: capitalize;
  text-align: center;
}

.label {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
}

}
@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(1, 209, 253, 0.32);
    border-bottom: 1px solid rgba(1, 209, 253, 0.32);
    background: none;
    backdrop-filter: none;
    border-radius: 0px;
  }

  .stat {
    padding: 24px 12px;
    position: relative;
    border: none;
  }

  .stat:nth-child(1),
  .stat:nth-child(3) {
    border-right: 1px solid rgba(1, 209, 253, 0.32);
  }

  .stat:nth-child(1),
  .stat:nth-child(2) {
    border-bottom: 1px solid rgba(1, 209, 253, 0.32);
  }

  .stat:nth-child(3),
  .stat:nth-child(4) {
    border-top: 1px solid rgba(1, 209, 253, 0.32);
  }

  .value,
  .label {
    padding: 12px 0;
  }

  .value {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }

  .label {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
  }
}
