.container
 {
  display: flex;
  background: linear-gradient(180deg, rgba(0, 212, 254, 0.05) 10.61%, rgba(68, 105, 232, 0.02) 100%);
  padding: 40px 0;
width: calc(100% - 240px); 
height: 202px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid rgba(133, 191, 249, 0.30);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 60px;
  z-index: 10;
}
.stat {
  flex: 1 1 ;
  width:300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  position: relative;
  border-right: 1px solid rgba(1, 209, 253, 0.32);
}
.stat:last-child {
  border-right: none;
}
.value {
  color: #01BCE4;
  font-family: "Nunito Sans"!important;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  text-transform: capitalize;
  text-align: center;
}
.label {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 1150px) {
  .stat {
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.value {
  color: #01BCE4;
  font-family: "Nunito Sans"!important;
  font-size: 50px;
  font-weight: 700;
  line-height: 82px;
  text-transform: capitalize;
  text-align: center;
}
.label {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
}
}
@media (max-width: 850px) {
  .container {
    width: 383.94px;
height: 204px;
    gap: 0px;
    padding:20px 22px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border-right: none;
        border-top:  1px solid rgba(133, 191, 249, 0.30);
    border-bottom: 1px solid rgba(133, 191, 249, 0.30);
      margin-top: 33px;
  }
  .container::before,
  .container::after {
    content: "";
    position: absolute;
    background: rgba(133, 191, 249, 0.30);
    z-index: 1;
      transform: translate(-50%, -50%);
  }
  .container::before {
    width: 1px;
    height: 164px;
    top: 50%;
    left: 50%;
  }
  .container::after {
    width: 339px;
    height: 1px;
    top: 50%;
    left: 50%;
  }.stat {
    gap: 0;
width: 100%;
    padding: 0 ;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    position: relative;
    z-index: 2;
    border: none !important;
  }
  .value {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #01BCE4;
    font-family: "Nunito Sans"!important;
    padding-bottom: 8px;
  }
  .label {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    font-family: Lato;
  }
}
