.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 21px;
  height: 41px; 

  border-radius: 62px;
  border: 1px solid #00D4FE;

  background: radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(0, 0, 0, 0.15) 50.03%,
      rgba(1, 210, 253, 0.30) 100%
    ),
    rgba(255, 255, 255, 0.10);

  color: #00D4FE;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
line-height: 24px; 
}

.tag::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
  height: 4px;
  background: #FFF;
  border-radius: 100px 100px 0px 0px;
}

.tag:hover {
  background: radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(0, 0, 0, 0.2) 50.03%,
      rgba(1, 210, 253, 0.4) 100%
    ),
    rgba(255, 255, 255, 0.15);
  color: #fff;
  border-color: #00D4FE;
}
