:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #01bce4;
}
.layout {
  max-width: 140rem;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1113;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #0b1113 !important;
}

body {
  color: var(--foreground);
  background-size: cover;
  background-position: top center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
