.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.blue-ellipse {
  position: absolute;
  width: 274.344px;
  height: 274.344px;
  flex-shrink: 0;
  z-index: 0;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #00D4FE 0%,
    #01D1FD 26%,
    #07C8FB 43%,
    #10B9F8 57%,
    #1DA5F4 70%,
    #2F8AEF 81%,
    #4469E8 92%,
    #574CE3 100%
  );
  filter: blur(201.924px);
  pointer-events: none;
}


.blue-ellipse-1 {
  top: 829px;
  left: -155px;
  right: 1321px;
  bottom: 6659px;
}

.blue-ellipse-2 {
  top: 1421px;
  left: 1382px;
  right: -136px;
  bottom: 6067px;
}

.blue-ellipse-3 {
  top: 2711px;
  left: -130px;
  right: 1296px;
  bottom: 4777px;
}

.blue-ellipse-4 {
  top: 4650px;
  left: 1274px;
  right: -108px;
  bottom: 2240px;
  z-index: 1;
}
