.signupPage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B1113;
  padding: 158px 120px 100px 120px;
  isolation: isolate;
}

.bgImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url("/loginbg.png") center / cover no-repeat;
}

.blueEllipseEffectLeft {
  position: absolute;
  top: 300px;
  left: -400px;
  width: 322px;
  height: 322px;
  border-radius: 322px;
  background: linear-gradient(90deg, #00D4FE 0%, #01D1FD 26%, #07C8FB 43%, #10B9F8 57%, #1DA5F4 70%, #2F8AEF 81%, #4469E8 92%, #574CE3 100%);
  filter: blur(237px);
  flex-shrink: 0;
  z-index: 0;
  pointer-events: none;
}

.signupCard {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 541px;
  border-radius: 25px;
  border: 1px solid rgba(133, 191, 249, 0.30);
  background: linear-gradient(180deg, rgba(0, 212, 254, 0.05) 10.61%, rgba(68, 105, 232, 0.02) 100%);
  backdrop-filter: blur(32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 60px 39px;
}

.logo {
  width: 93px;
  height: 28.175px;
} 