.chooseCourseSection {
  width: 100%;
  border-top: 1px solid rgba(88, 179, 234, 0.28);
  background: #0B1113 url("/choosecourse.png") center center / cover no-repeat;
  padding: 100px 120px 94px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Sansation;
  font-size: 44px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 21px 0;
  padding: 0 162px;
}
.subheading {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 60px;
  padding: 0 162px;
}

.coursesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;     
  max-width: 1200px;
}

.card {
  flex: 0 0 282px;             
height: 298px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  padding:41px 6px 50px 18px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.02) 100%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s, border-color 0.2s;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1.1px;
  background: linear-gradient(to bottom, rgba(199, 193, 193, 0.7), rgba(255, 255, 255, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

.card:hover {
  border-color: #00d4fe;
  box-shadow: 0 8px 32px rgba(1, 188, 228, 0.18);
}

.iconWrapper {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  background:rgba(87, 76, 227, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
}

.iconWrapper img {
width: 40px;
height: 40px;
flex-shrink: 0;
  object-fit: contain;
}

.cardTitle {
  color: #fff;
  font-family: Sansation;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-align: center;
  margin-bottom: 15px;
}
.cardDesc {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Nunito Sans";
  font-size: 16px;
  text-align: center;
  font-weight: 400;

line-height: 24px; 
}

@media (max-width: 850px) {
  .chooseCourseSection {
    padding: 40px 18px 0px 18px;
  }
  .heading {
font-size: 24px;
line-height: 32px; 
    padding: 0 26.5px;
      margin: 16px 0;
  }
  .subheading {
   color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 26px; 
  margin-bottom: 0px;
  padding: 0 18px;
  }
  .coursesGrid {
    gap: 24px;
    padding:60px 28.5px 40px 28.5px;
  }

    .card {
 
  padding:41px 4.5px 41px 16.5px;

  }




}
