/* .loginPage {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B1113;
  padding: 112px 0 186px 0;
  isolation: isolate;
}

.bgImage {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url("/loginbg.png") center / cover no-repeat;
}


.loginCard {
  position: relative;
  z-index: 1;
 width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  width: 268px;
  height:61px;
  margin-bottom: 38px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formGroup {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}


.label {
margin-bottom: 16px;
color: #FFF;
font-family: "Nunito Sans";
font-size: 16px;
font-weight: 500;

}

.input {
    max-width: 600px;
  width: 100%;
  height:60px;
 padding: 15px 20px;
border-radius: 10px;
border: 1px solid rgba(1, 188, 228, 0.53);
background: linear-gradient(180deg, rgba(0, 212, 254, 0.02) 0%, rgba(64, 221, 218, 0.02) 100%);
}
.input:focus {
  border: 1.5px solid #01bce4;
}



.buttonWrapper {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 24px;
}

.blueEllipseEffectLeft {
  position: absolute;
  top: 330px;
  left: -400px;
  width: 322px;
  height: 322px;
  border-radius: 322px;
  background: linear-gradient(90deg, #00D4FE 0%, #01D1FD 26%, #07C8FB 43%, #10B9F8 57%, #1DA5F4 70%, #2F8AEF 81%, #4469E8 92%, #574CE3 100%);
  filter: blur(237px);
  flex-shrink: 0;
  z-index: 0;
  pointer-events: none;
}

.loginButton {
  width: 200px;
  height: 58px;
  
}
@media(max-width:600px){
    .blueEllipseEffectLeft{display: none;}
    .loginPage{
        padding-top: 61px;
        padding-right: 18px;
        padding-bottom: 416px;
        padding-left: 18px;
    }
   .logo {
  width: 120px;
  height:51.5px;
  margin-bottom: 40px;
}
.form {
  gap:16px;
}
.label{
font-size: 18px;
}
 .buttonWrapper{
    margin-top: 8px;
 }
 .loginButton{
    width: 100%;
 }
} */
