.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: fit-content;
  min-height: 50px;
  padding: 14px 30px;

  border-radius: 30px;
  border: 3px solid transparent;
  background: transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: 
    linear-gradient(#0B1113, #0B1113),
    linear-gradient(to top, #01BCE4, #0B1113);

  color: #01BCE4;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-image: 
    linear-gradient(#01BCE4, #01BCE4),
    linear-gradient(to right, #01BCE4, #0B1113);
  color: #0B1113;
}

.payNow {
  width: 100%;
  margin: 12px 0 16px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  padding: 12px 0;
  color: #00D4FE;
  border: 1.5px solid #00D4FE;
  background: none;
  transition: background 0.3s, color 0.3s;
}
.payNow:hover {
  background: #00D4FE;
  color: #fff;
}

.fullWidth {
  width: 100%;
  display: block;
}

.btn.fullWidth {
  width: 100% !important;
  display: flex;
}
