.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
  width: 100%;
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 600px) {
  .loginButton {
    max-width: 100%;
  }
  .form {
    gap: 16px;
  }
  .buttonWrapper {
    margin-top: 8px;
  }
}
